*{
  margin: 0;
  box-sizing: border-box;
}

.main-wrapper{
  height:100vh;
  width:100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px;
  font-size: 5rem;
  font-family: "Inter", sans-serif;
}


.btn {
  padding: 20px 40px;
  font-size: 2rem;
  border-radius: 25px;
  font-family: "Jersey 10", sans-serif;
}